<section class="vh-100">
  <app-header></app-header>
  <div class="container movie-search-container">
    <div class="row">
      <div class="col-12 text-center mb-3">
        <h1>{{ selectedMovie?.Title || "Search for your favorite movie" }}</h1>
      </div>
      <div class="col-12 text-center mb-3">
        <p>
          {{
            selectedMovie?.Awards
              ? "Awards: " + selectedMovie?.Awards
              : "Find its information on IMDB"
          }}
        </p>
      </div>
      <div class="col-12 col-md-8 mb-3 mb-md-0">
        <input
          #searchInput
          class="form-control"
          type="search"
          placeholder="Search"
          [(ngModel)]="searchQuery"
          aria-label="Search"
        />
        <p class="d-md-none text-danger" *ngIf="selectedMovie?.Error">
          <b>{{ selectedMovie.Error }}</b>
        </p>
      </div>
      <div class="col-6 col-md-2 mb-3 mb-md-0">
        <button
          type="button"
          class="btn btn-primary w-100"
          (click)="searchMovies()"
        >
          Search
        </button>
      </div>
      <div class="col-6 col-md-2 mb-3 mb-md-0">
        <button
          type="button"
          class="btn btn-primary w-100"
          (click)="resetSearch()"
        >
          Reset
        </button>
      </div>
      <div class="col-12 d-none d-md-block text-danger">
        <p *ngIf="selectedMovie?.Error">
          <b>{{ selectedMovie.Error }}</b>
        </p>
      </div>
      <div class="col-12 col-md-4 mt-5 order-md-1">
        <div class="d-flex justify-content-center justify-content-md-end">
          <div>
            <img
              *ngIf="selectedMovie?.Poster"
              [src]="selectedMovie?.Poster"
              alt="Movie Poster"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <div
        class="col-12 col-md-8 mt-5 order-md-0"
        *ngIf="selectedMovie && selectedMovie.Title"
      >
        <h2>{{ selectedMovie?.Title }}</h2>
        <p><b>Description: </b>{{ selectedMovie?.Plot }}</p>
        <p><b>Actors: </b> {{ selectedMovie?.Actors }}</p>
        <p><b>Review: </b> {{ selectedMovie?.imdbRating }}</p>
        <button
          class="btn btn-primary mb-5 mb-md-0"
          (click)="toggleFavorite(selectedMovie?.imdbID)"
        >
          <span>{{ selectedMovie?.favorite ? "❤️" : "♡" }}</span>
          {{
            selectedMovie?.favorite !== null
              ? selectedMovie?.favorite
                ? "Favorite"
                : "Unfavorite"
              : "Loading..."
          }}
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
