<div class="container movie-search-container">
  <button class="btn btn-secondary btn-back" routerLink="/">
    <span class="arrow-icon">&#8592;</span>
  </button>

  <div class="movie-details">
    <h1>
      {{
        selectedMovie?.Title
          ? selectedMovie?.Title
          : "Search for your favorite movie"
      }}
    </h1>
    <p>
      {{
        selectedMovie?.Awards
          ? "Awards: " + selectedMovie?.Awards
          : "Find its information on IMDB"
      }}
    </p>
  </div>

  <div class="search-bar">
    <div class="input-group">
      <input
        #searchInput
        type="text"
        class="form-control"
        [(ngModel)]="searchQuery"
      />

      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="searchMovies()">
          Search
        </button>
        <button class="btn btn-secondary" type="button" (click)="resetSearch()">
          Reset
        </button>
      </div>
    </div>
  </div>

  <div class="container movie-search-container">
    <div *ngIf="selectedMovie && selectedMovie.Title" class="movie-info">
      <div class="row">
        <div class="col-md-8 info">
          <h2>
            {{ selectedMovie?.Title }}
          </h2>
          <p>
            Description:
            {{ selectedMovie?.Plot }}
          </p>
          <p>Actors: {{ selectedMovie?.Actors }}</p>
          <p>
            Rating:
            <span class="star-rating">{{ selectedMovie?.imdbRating }}</span>
          </p>
          <button
            class="btn btn-outline-danger btn-favorite"
            *ngIf="selectedMovie?.imdbID"
            (click)="toggleFavorite(selectedMovie?.imdbID)"
          >
            <span class="heart-icon">
              {{ selectedMovie?.favorite ? "❤️" : "♡" }}
            </span>
            {{
              selectedMovie?.favorite !== null
                ? selectedMovie?.favorite
                  ? "Favorite"
                  : "Unfavorite"
                : "Loading..."
            }}
          </button>
        </div>
        <div class="col-md-4 text-center poster">
          <img
            *ngIf="selectedMovie?.Poster"
            [src]="selectedMovie?.Poster"
            alt="Movie Poster"
            class="poster-img"
          />
        </div>
      </div>
    </div>
  </div>
</div>
