$background-color: #f4f4f4;
$box-background-color: #f4f4f4;
$accent-color: #3498db;
$text-color: #333333;
$button-color: #ffffff;
$button-background-color: #3498db;
$highlight-color: #f0f0f0;
$button-hover-color: #2980b9;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.movie-search-container {
  font-family: "Roboto", sans-serif;
  padding: 2rem;

  .btn-back {
    font-size: 2.5rem;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $button-hover-color;
    }
  }

  .movie-details {
    margin-bottom: 2rem;

    h1 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    p {
      text-align: center;
      font-size: 1rem;
    }
  }

  .search-bar {
    margin: 2rem 0;

    .input-group {
      display: flex;
      align-items: center;

      .form-control {
        border-radius: 5px;
        font-family: "Roboto", sans-serif;
        padding-left: 1rem;
        height: 50px;
        width: 100%;
        font-size: 1rem;
      }

      .input-group-append {
        display: flex;
        align-items: center;
        margin-left: 1rem;

        .btn-primary,
        .btn-secondary {
          border-radius: 5px;
          margin-left: 1rem;
          height: 50px;
          font-size: 1rem;
          background-color: $button-background-color;
          border: 2px solid $button-background-color;
          color: $button-color;
          padding: 0.5rem 1rem;
          transition: background-color 0.3s, color 0.3s;

          &:hover {
            background-color: $button-color;
            color: $button-background-color;
          }
        }
      }
    }
  }

  .movie-info {
    margin-top: 1.5rem;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
    }

    .star-rating {
      color: red;
      font-size: 1.5rem;
    }

    .heart-icon {
      font-size: 1.5rem;
      margin-right: 0.5rem;
      margin-top: -0.15rem;
    }

    .poster-img {
      max-width: 100%;
      height: auto;
    }

    .btn-favorite {
      display: flex;
      font-size: 1rem;
      border-radius: 5px;
      height: 50px;
      font-size: 1rem;
      background-color: $button-background-color;
      border: 2px solid $button-background-color;
      color: $button-color;
      padding: 0.5rem 1rem;
      align-items: center;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: $button-color;
        color: $button-background-color;
      }
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .info {
    max-width: 50%;
  }

  .poster {
    align-self: flex-start;
  }
}
