<div class="container h-100">
  <div
    class="row h-100 justify-content-center align-items-center welcome-container"
  >
    <div class="col-md-6 col-sm-12 welcome-content text-center">
      <div
        class="content-box d-flex flex-column align-items-center justify-content-center"
      >
        <img
          src="assets/imdb-logo.png"
          alt="IMDb Logo"
          class="imdb-logo mb-3"
        />
        <h1 class="mb-4">Bem-vindo ao Serviço de API do IMDb</h1>
        <p class="description">
          Aqui você pode buscar filmes no IMDb pelo título ou pelo ID, e
          favoritar de acordo com suas preferências.
        </p>
        <button class="btn btn-custom mt-3" routerLink="/movie-search">
          Buscar um filme
        </button>
      </div>
    </div>
  </div>
</div>
